<div class="container">    
 
  <table class="table table-bordered table-hover">   
    <h1>Coverage persentage of Jacoco report </h1> 
    <tr>    
      <th>Type</th>   
      <th>Covered</th>   
      <th>Missed</th>    
      <th>Percentage</th>    
    </tr>    
    <tr *ngFor="let item of xmlItems">   
      <td>{{item.type}}</td>   
      <td>{{item.covered}}</td>  
      <td>{{item.missed}}</td>    
      <td>{{item.percentage}}</td>  
       
    </tr>    
  </table> 
  
  <app-file-upload></app-file-upload>
</div>  

